#container>* {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-size: 100px 125px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "header header header header header"
        "nav article article article ads"
        "nav article article article ads"
        "nav footer footer footer footer";
}

.header {
    background-color: #f44336bb;
    grid-area: header;
}

.nav {
    background-color: #e91e63bb;
    grid-area: nav;
}

.article {
    background-color: #9c27b0bb;
    grid-area: article;
}

.ads {
    background-color: #673ab7bb;
    grid-area: ads;
}

.footer {
    background-color: #2196f3bb;
    grid-area: footer;
}